name: h5mu_qc_to_json
description: Convert QC metrics from h5mu to JSON
namespace: ingestion_qc
authors: 
  - __merge__: /src/authors/jakub_majercik.yaml
    roles: [author]
  - __merge__: /src/authors/dorien_roosen.yaml
    roles: [author]
  - __merge__: /src/authors/robrecht_cannoodt.yaml
    roles: [author]
  - __merge__: /src/authors/weiwei_schultz.yaml
    roles: [contributor]
argument_groups:
  - name: Inputs
    arguments:
      - name: --input
        type: file
        multiple: true
        required: true
        direction: input
        description: The input h5mu file(s)
        example: path/to/file.h5mu
      - name: --modality
        type: string
        description: The modality to use
        default: rna
  - name: Outputs
    arguments:
      - name: --output
        type: file
        required: true
        direction: output
        description: The output JSON file
        example: path/to/file.json
  - name: Options
    arguments:
      - name: --min_total_counts
        type: integer
        description: Minimum total counts for a cell to be included in the output
        default: 10
      - name: --min_num_nonzero_vars
        type: integer
        description: Minimum number of nonzero vars for a cell to be included in the output
        default: 10
      - name: --sample_id_key
        type: string
        description: The key in the h5mu file that contains the sample ID
        default: sample_id
      - name: --obs_keys
        type: string
        multiple: true
        description: The keys in the h5mu .obs to include in the output JSON
        default: ["total_counts", "num_nonzero_vars", "fraction_mitochondrial_genes", "fraction_ribosomal_genes"]
      - name: --cellranger_metrics_uns_key
        type: string
        description: The key in the h5mu file .uns that contains the cellranger metrics
        default: metrics_cellranger
resources:
  - type: python_script
    path: script.py
engines:
  - type: docker
    image: python:3.12-slim
    setup:
      - type: apt
        packages:
          - procps
      - type: python
        packages:
          - mudata~=0.3.1
runners:
  - type: executable
  - type: nextflow
