# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# Temp
gitignore
test_results

# python
*__pycache__*

# System Files
.DS_Store
Thumbs.db

# Nextflow
work
.nextflow*

# viash
/target/
/resources_test/